body{
    font-family: 'Rubik', sans-serif;
    margin:0;

}
h1{
    font-size: 40px;
}
h2{
   font-size: 30px;
}
.name{
    color: darkorange;
}
section{
    display: flex;
}
.first-div{
    width: 50%;
    padding-left: 30px;
}
.first-div img{
    width: 80%;
    margin: 10%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(green,cyan);
    padding: 10px 30px;
    color: white;
    font-weight: 700;
    border-radius: 8px;
}
.top-banner{
    background-image: url(Image/top-banner.png);
    background-repeat: no-repeat;
}
#mid-banner{
    background-image: url(Image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.back-color{
 background-color: cadetblue;
}
#god-pic{
    margin-right: 10%;
}
.man-c{
    text-decoration: none;
    background-image: linear-gradient(cyan,cyan);
    padding: 10px 30px;
    color: white;
    font-weight: 700;
    border-radius: 8px;
}
.man-utd{
    text-decoration: none;
    background-image: linear-gradient(red,red);
    padding: 10px 30px;
    color: white;
    font-weight: 700;
    border-radius: 8px;
}
